@charset "UTF-8";
.facebook {
  color: #3a86ff; }

.instagram {
  color: #ff006e; }

.footerInicio, .footerInicioDos {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center; }

.footerInicioDos {
  font-size: 45px; }

.textoFondo, .textoFondoDos {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.textoFondoDos {
  font-size: 50px; }

.textosConEstilo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-align: center; }

.textoFondo, .textoFondoDos {
  background-color: #bcddd6; }

.logo {
  width: 150px; }

.cambioTamaño img {
  width: 25%; }

h1, h3, .footerInicio, .footerInicioDos {
  font-family: 'Gulzar', serif;
  color: #00b2ca; }

.ordenTarjetas {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footerRelleno {
  margin-left: 20px; }

.hoverCambio {
  transition: height 0.3s, width 0.8s; }

.hoverCambio:hover {
  height: 320px;
  width: 220px; }

.moviMientos {
  transition: all 0.2s;
  background-color: #b5d3d7; }

.moviMientos:hover {
  color: #00b2ca;
  width: 420px;
  height: 120px; }
