
@import "maps";
@import "extend";
@import "mixins";

.textoFondo{
    background-color: rgb(165, 219, 207);
}
.logo{
    width: 150px;
}

.cambioTamaño img {
    width: 25%; }
  
h1, h3{
    font-family: 'Gulzar', serif;
    color: #00b2ca;
}    