
@import "maps";
@import "extend";
@import "mixins";

footer{
    background-color:#b5d3d7 ;
}
.textoFondo{
    background-color: rgb(188, 221, 214);
}
.logo{
    width: 150px;
}

.cambioTamaño img {
    width: 25%; }
  
h1, h3, .footerInicio {
    font-family: 'Gulzar', serif;
    color: #578e96;
} 

.ordenTarjetas{
    display:flex;
    justify-content: space-around;
    align-items: center;

    
}

.footerRelleno{
    margin-left: 20px;
    text-decoration: none;

}

.hoverCambio {
    transition: height 0.3s, width 0.8s;
}
.hoverCambio:hover {
    height: 320px;
    width: 270px;
}
.moviMientos{
    transition: all 0.2s;
    background-color: #b5d3d7;
}
.moviMientos:hover{
    color: #00b2ca;
    width: 420px;
    height: 120px;
}
.estiloAbajo{
    background-color: #b5d3d7;
    align-items: center;
    color: #578e96;
    font-family: 'Gulzar', serif;
}
.margenFormulario{
    margin: 10px;
    padding: 10px;
    width: 50%;
    font-family: 'Gulzar', serif;
}
.margenFormularioDos {
    margin: 20px;
    padding: 20px;
    font-family: 'Gulzar', serif;
}